body {
  /*margin: 0;*/
  font-family: sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scrollable {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 150px; /* Set the height of the scrollable div */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc; /* Add a border for visual separation */
    padding: 10px; /* Add some padding */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: add shadow for aesthetics */
}

#instrument {
  display: none;
}
#location {
  display: none;
}

#filters-added {
    /*display: flex;
    flex-flow: column;*/
    width: 80%;
    height: 150px; /* Set the height of the scrollable div */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc; /* Add a border for visual separation */
    padding: 10px; /* Add some padding */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: add shadow for aesthetics */
}

.filter-row {
  /*width: 85%*/
  display: flex;
}
.filter-row:hover {
  background-color: silver;
}
.filter-btn {
  margin-left: auto;
}
.row-selection {
  display: inline-block;
  width: 100%;
}
.row-selection:hover {
  background-color: silver;
}
#btn-scan {
  width: 80%;
  height: 4em;
}
#result-div {
  text-align: left;
}
.search {
  width: 80%;
}
th {
  text-align: left;
}

input[type="range"] {
  width: 80%;
}

.td-right {
  text-align: right;
}
