<script src="finplot.js"></script>
<script>
  var base = location.href.substring(0, location.href.lastIndexOf("/"));
</script>

<div id="buttons">
  <button onclick="drawPlots('1d')">1d</button>
  <button onclick="drawPlots('1m')">1m</button>
  <button onclick="drawPlots('3m')">3m</button>
  <button onclick="window.location=base;" style="float: right;">Show LIVE</button>
</div>

<div id="plots"></div>
</center>
<script src="client-demo.js"></script>
