<script src="finplot.js"></script>
<script>
  var base = location.href.substring(0, location.href.lastIndexOf("/"));
</script>

<div id="buttons">
  <button onclick="drawPlots('1d')">1d</button>
  <button onclick="drawPlots('1m')">1m</button>
  <button onclick="drawPlots('3m')">3m</button>
  <button onclick="window.location=base+'/demo.html';" style="float:right;">Show DEMO</button>
  <input id="token" type="text" style="float: right;" placeholder="IEX token"/>
</div>

<div id="plots"></div>
<script src="client.js"></script>
