dir_data={{ app_dir_dat | default('/opt/{{ app_name }}/data') }}
dir_bin={{ app_dir_bin }}
dir_cert={{ app_dir_cert }}
dir_log={{ app_dir_log }}
ssl_enabled={{ app_ssl_enabled }}
port={{ app_port }}
iex_api_token={{ iex_api_token }}
