[Unit]
Description=ib-gateway
After=network.target

[Service]
#User=www-data
#Group=www-data
WorkingDirectory={{ dir_app }}
#Environment="PATH={{ dir_app }}/venv/bin"
ExecStart={{ dir_app }}/bin/run.sh root/conf.yaml >> /var/log/{{ app_name }}.log

[Install]
WantedBy=multi-user.target
