<div id='menu'</div>
<script src='js/base.js'></script>
<script src='js/nq-scan-top-gain.js'></script>
<hr>
<h2>NASDAQ: Top perc gain</h2>
Top percent penny stock gainers (price below $1 per share, percent increase above 10%).<br>
<div id='table'>Running scanner...</div>
<h2>List</h2>
<div id='list'></div>
