<div id='menu'></div>
<script src='/js/finplot.js'></script>
<!--<script src='js/base.js'></script>-->
<script src='js/nq-ticker-to-chart.js'></script>
<hr>
<div id='buttons'>
  <button onclick="drawPlot('1d')">1d</button>
  <button onclick="drawPlot('1m')">1m</button>
  <button onclick="drawPlot('3m')">3m</button>
  <input id='ticker' type='text' placeholder='Ticker'/>
</div>
<div id='plot'></div>
<div id='table'></div>
